[00:20.104] {笑顔}(えがお)の{魔法}(まほう)が{使}(つか)えなくなった{時}(とき)
[00:26.485] {夜空}(よぞら)の{向}(む)こうへ{話}(はな)しかけてみる
[00:32.854] {私}(わたし)の{目}(め)の{高}(たか)さが{低}(ひく)すぎるせいで
[00:38.436] {誰}(だれ)かの{優}(やさ)しさに{素直}(すなお)になれない
[00:45.883] そんな{時}(とき)はこうして
[00:49.053] {空}(そら)を{見}(み)つめるよ
[00:51.183] {出逢}(であ)った{全}(すべ)ての「{出会}(であ)い」が
[00:56.232] {素敵}(すてき)と{感}(かん)じられたら
[01:04.193] {銀色}(ぎんいろ)の{風}(かぜ)が{吹}(ふ)く
[01:07.323] この{星}(ほし)に{包}(つつ)まれて
[01:10.834] {愛}(いと)しさの{意味}(いみ)を{知}(し)った
[01:14.026] {涙}(なみだ)の{意味}(いみ)だって
[01:16.954] みんなが{手}(て)を{繋}(つな)ぐ{場所}(ばしょ)
[01:20.130] {輝}(かがや)きは{広}(ひろ)がって
[01:23.583] {遥}(はる)かなる bright {時空}(とき)の{旅人}(たびびと)